/*底部*/
.container footer{
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #eee;
    padding: 0.4rem;
    background: #fff;
}
.container footer .footer_wrap{
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}
.container footer .footer_wrap li a{
    display: flex;
    flex-direction: column;
}
/*.container footer .footer_wrap li a img{*/
    /*width: 1.2rem;*/
    /*height: 1.2rem;*/
    /*margin: 0 auto;*/
/*}*/
.container footer .footer_wrap li a i{
    display: block;
    margin: 0 auto;
    color: #808080;
}
.container footer .footer_wrap li a span{
    font-size: 14px;
    color: #808080;
    text-align: center;
}
.container footer .footer_wrap li .footer_active i{
    color: #F92C63;
}
.container footer .footer_wrap li .footer_active span{
    color: #F92C63;
}