.container{
}
.container header{
    display: block;
    text-align: center;
    font-size: 15px;
    color: #999;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
}
.container header .img1{
    position: absolute;
    right: 38px;
    top: 2px;
    width: 1.1rem;
    height: 1.1rem;
}
.container header .img2{
    position: absolute;
    right: 12px;
    top: 4px;
    width: 0.93rem;
    height: 0.93rem;
}
/*导航轮播部分*/
.container nav{
    display: block;
    margin-top: 3.13rem;
    height: 31.05rem;
    position: relative;
}
.container nav .list{
    width: 35.125rem;
    height: 31rem;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -23.5rem;
}
.container nav .list li{
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    opacity: 0;
    transition: all 0.3s ease-out;
}
.container nav .list li img{
    width: 19rem;
    height: 31rem;
    border: none;
    float: left;
}
.container nav .list .p1{
    transform:translate3d(-224px,0,0) scale(0.81);
}
.container nav .list .p2{
    transform:translate3d(0px,0,0) scale(0.81);
    transform-origin:0 50%;
    opacity: 0.8;
    z-index: 2;
}
.container nav .list .p3{
    transform:translate3d(224px,0,0) scale(1);
    z-index: 3;
    opacity: 1;
}
.container nav .list .p4{
    transform:translate3d(449px,0,0) scale(0.81);
    transform-origin:100% 50%;
    opacity: 0.8;
    z-index: 2;
}
.container nav .list .p5{
    transform:translate3d(672px,0,0) scale(0.81);
}
.container nav .list .p6{
    transform:translate3d(896px,0,0) scale(0.81);
}
.container nav .btn{
    position: absolute;
    top: 50%;
    margin-top: -1.563rem;
    width: 1.25rem;
    height: 2.083rem;
    line-height: 2.083rem;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    background: rgba(0,0,0,.25);
}
.container nav .prev{
    left: 2.917rem;
    z-index: 10;
}
.container nav .next{
    right: 2.917rem;
    z-index: 10;
}
/*中间内容部分*/
.container section{
    display: block;
}
  /*艺术品推荐*/
.container section .artwork .headline{
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #333;
    font-size: 20px;
}
.container section .artwork .headline img{
    width: 1rem;
    height: 1rem;
}
.container section .artwork .workList{
    display: flex;
    justify-content: space-around;
    padding: 0 0.6rem;
    margin-bottom: 2.2rem;
}
.container section .artwork .workList li img{
    width: 9.8rem;
    height: 10rem;
}
.container section .artwork .workList li .art_title{
    font-size: 18px;
    color: #555;
    margin-top: 0.74rem;
}
.container section .artwork .workList li .art_brief{
    font-size: 15px;
    color: #888;
    line-height: 1.5;
}
.container section .artwork .workList li .art_price{
    font-size: 14px;
    color: #DC4A73;
}
  /*人气艺术家*/
.container section .popular_artist .headline{
    height: 3.4rem;
    border-top: 0.4rem solid #eee;
    line-height: 4.875rem;
    text-align: center;
    color: #333;
    font-size: 20px;
}
.container section .popular_artist .headline img{
    width: 1rem;
    height: 1rem;
}
.container section .popular_artist .artist_list{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 0.6rem;
    margin-bottom: 1.4rem;
}
.container section .popular_artist .artist_list li{
    margin-top: 1.2rem;
}
.container section .popular_artist .artist_list li .artist_avatar{
    width: 9.8rem;
    height: 10rem;
}
.container section .popular_artist .artist_list li .artist_nation{
    display: block;
    width: 2rem;
    height: 1.2rem;
}
.container section .popular_artist .artist_list li .artist_name{
    font-size: 14px;
    color: #333;
    margin-top: 0.4rem;
}
.container section .popular_artist .artist_list li .artist_class{
    font-size: 14px;
    color: #888;
    line-height: 1.7;
}
.container section .popular_artist .artist_list li .artist_toKnow{
    width: 3.2rem;
    height: 1.4rem;
    background: #D93365;
    line-height: 1.4rem;
    text-align: center;
    font-size: 12px;
    color: #fff;
}